
header:not(header.article-header) { 
  display:  flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  margin-top: 10px;
  width: calc(100% - 35px);
  padding: 10px;
  background-color: var(--white-color);;
  border-radius: 10px;
  transform: translateX(-50%);
  left: 50%;
  transition-duration: .3s;
}

header:not(header.article-header) .links ul { 
  display: flex;
  justify-content: space-around;
}
header:not(header.article-header) .links ul li{ 
  font-family: heading-font;
  margin-left: 10px;
  padding: 10px;
  font-size: 12px;
  transition-duration: .3s;
  clip-path: polygon(0% 0.5em, 0.5em 0, 100% 0, 100% calc(100% - 0.5em), calc(100% - 0.5em) 100%, 0 100%);
}
header:not(header.article-header) .links ul li a{
  color: inherit;
  width: 100%;
  display: block;
}

header:not(header.article-header) .links ul li.active, 
header:not(header.article-header) .links ul li:hover{ 
  background-color: var(--main-color);
  color: var(--white-color);
}

header:not(header.article-header) .logo { 
  position: relative;
  transition-duration: .3s;
}
header:not(header.article-header) .logo h4 { 
  font-family: special-font;
  margin: 0;
  font-size: 40px;
  color: var(--main-color);
  padding-left: 13px;
  cursor: pointer;
}

header:not(header.article-header) .logo p{ 
  opacity: 0;
  font-size: 15px;
  font-family: heading-font;
  position: absolute;
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 7px;
  border-radius: 7px;
  width: 180px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  left: 80%;
  transition-duration: .3s;
  user-select: none;
  clip-path: polygon(0% 0.5em,0.5em 0, 100% 0, 100% calc(100% - 0.5em), calc(100% - 0.5em) 100%, 0 100%);
}
@media (max-width:400px) {
  header:not(header.article-header) .logo p {
    display: none;
    
  }
}
header:not(header.article-header) .logo:hover p {
  opacity: 1;
  left: 125%;
  user-select: initial;
}
header:not(header.article-header) svg.menu {
  font-size: 25px;
  cursor: pointer;
  margin-right: 10px;
  display: none;
}
header:not(header.article-header) svg.menu.active {
  color: var(--main-color);
}
/* Responsive */

@media (max-width:991px) {
  header:not(header.article-header) svg.menu {
    display: block;
  }
  header:not(header.article-header) .links {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: none;
  }
  header:not(header.article-header) .links ul {
    position: absolute;
    width: 100%;
    flex-direction: column-reverse;
    background-color: var(--white-color);;
    gap: 10px;
    top: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  header:not(header.article-header) svg.menu.active ~ .links {
    display: block;
  }
  header:not(header.article-header) .links ul li {
    margin-left: 0;
    border-bottom: 1px solid var(--white-color-ddd);;
    font-size: 12px;
  }
  header:not(header.article-header) .logo h4 {
    font-size: 30px;
  }
  header:not(header.article-header) .logo p {
    font-size: 12px;
    padding: 7px 17px;
    width: max-content;
  }
}